configuration {
    /*---------- General setting ----------*/
	modi:                       "drun,run,window";
    show-icons:                 true;

    /*---------- Matching setting ----------*/
	matching:                   "regex";
	tokenize:                   true;

    /*---------- Display setting ----------*/
    display-drun:               "";
    display-run:                "";
    display-window:             "";

    /*---------- Keybindings ----------*/
    me-select-entry:            "";
    me-accept-entry:            [ MousePrimary, MouseSecondary, MouseDPrimary ];
}

@theme "~/.config/rofi/themes/launchers.rasi"
