configuration {
    /*---------- General setting ----------*/
    modes:                      [ drun, run, window, filebrowser ];
    show-icons:                 true;
    dpi:                        120;

    /*---------- Matching setting ----------*/
	matching:                   "regex";
	tokenize:                   true;

    /*---------- Display setting ----------*/
    display-drun:               "  Apps";
    display-run:                "  Run";
    display-window:             "  Windows";
    display-filebrowser:        "  Files";
}

@theme "hybrid"
