# Monitor config
xrandr --output HDMI-0 --primary --mode 1600x900

# Add $PATH
export PATH="${PATH}:${HOME}/.local/bin"

# Environment variables set everywhere
export EDITOR="nvim"
export VISUAL="nvim"
export TERMINAL="alacritty"
export BROWSER="google-chrome-stable"

export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="ibus"
export XMODIFIERS="@im=ibus"

export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/.ripgreprc"

export ZDOTDIR="$HOME/.config/zsh"

export QT_QPA_PLATFORMTHEME="qt5ct"

# export LIBVA_DRIVER_NAME="nvidia"
# export LIBVA_DRIVERS_PATH="/usr/lib/dri"
# export VDPAU_DRIVER="nvidia"
# export NVD_BACKEND="direct"

# XDG Paths
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
