# Adds ~/.local/bin and its subdirectories to $PATH
export PATH="${PATH}:${HOME}/.local/bin"

# XDG paths
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Default program
export EDITOR="nvim"
export VISUAL="nvim"
export TERMINAL="alacritty"
export BROWSER="google-chrome-stable"

# Ibus
export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="ibus"
export XMODIFIERS="@im=ibus"

# Other
export QT_QPA_PLATFORMTHEME="qt5ct"
export ZDOTDIR="$HOME/.config/zsh"
export ZSHZ_DATA="$HOME/.cache/zsh/.z" 
export BAT_THEME="base16"
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/.ripgreprc"

# Monitor config
[ -f ~/.screenlayout/default.sh ] && . ~/.screenlayout/default.sh &
# Set a delay of 500ms and a rate of 40Hz
[ -f /usr/bin/xset ] && xset r rate 500 40
# Lock the screen 5 minutes later
[ -f /usr/bin/xset ] && xset s 300 300
[ -f /usr/bin/xss-lock ] && xss-lock /usr/bin/slock &
# Network Manager Applet
[ -f /usr/bin/nm-applet ] && nm-applet &
# Set wallpaper
[ -f /usr/bin/nitrogen ] && nitrogen --random --set-zoom-fill --save &> /dev/null &
# Load config nvidia-settings
[ -f /usr/bin/nvidia-settings ] && nvidia-settings --load-config-only &
# Enable numlock
[ -f /usr/bin/numlockx ] && numlockx &
# Ibus Daemon
[ -f /usr/bin/ibus-daemon ] && ibus-daemon --xim -d -r &
# Authentication
[ -f /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 ] && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
# Compositor
[ -f /usr/bin/picom ] && picom -b &
