# Monitor config
xrandr --output HDMI-0 --primary --mode 1600x900

# Adds ~/.local/bin and its subdirectories to $PATH
export PATH="${PATH}:${HOME}/.local/bin"

# XDG paths
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Default program
export EDITOR="nvim"
export VISUAL="nvim"
export TERMINAL="alacritty"
# export BROWSER="google-chrome-stable"

# Ibus
export GTK_IM_MODULE="ibus"
export QT_IM_MODULE="ibus"
export XMODIFIERS="@im=ibus"

# Other
export QT_QPA_PLATFORMTHEME="qt5ct"
export ZDOTDIR="$HOME/.config/zsh"
export ZSHZ_DATA="$HOME/.cache/zsh/.z" 
export BAT_THEME="base16"
export RIPGREP_CONFIG_PATH="$HOME/.config/ripgrep/.ripgreprc"
export LIBVA_DRIVER_NAME="vdpau"
export VDPAU_DRIVER="nvidia"

# Network Manager Applet
nm-applet &
# Set wallpaper
nitrogen --random --set-zoom-fill --save &> /dev/null &
# Load config nvidia-settings
nvidia-settings --load-config-only &
# Enable numlock
numlockx &
# Ibus
ibus-daemon --xim -d -r &
# Authentication
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &
# Display 
conky -c ~/.config/conky/time.conf &> /dev/null &
# # Compositor
# picom -b

# Auto commands
[ -f ~/autocommand ] && . ~/autocommand &
